Importing Data from Kaggle using kagglehub.

In [202]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("nadeemajeedch/employee-performance-and-salary-dataset")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/employee-performance-and-salary-dataset

Importing Pandas Library and Importing os Module as data from kaggle is downloaded in Zip Files,os helps navigating,cross-platform path handling, checking file existence.

In [203]:
import pandas as pd ## Imporing Pandas Library
import os  # Importing os Module as data from kaggel is downloaded in Zip Files,
           # os helps navigating,cross-platform path handling, checking file existence.
print("pandas and os successfully imported")

pandas and os successfully imported

Listing the files downloaded form kaggle using the os module which as mentioned eralier helps in path handling and checking for existence.

In [204]:
files=os.listdir(path)
print("Files:",files)

Files: ['50_Tasks_to_perform_on_dataset.pdf', 'Employe_Performance_dataset.csv']

We Need only the 'Employe_Performance_dataset.csv' in our Notebook, read the csv file downloaded.

## Q1.  Load the dataset into a Pandas DataFrame and display the first 10 rows

In [205]:
df=pd.read_csv(os.path.join(path,'Employe_Performance_dataset.csv'))  # Creating a dataframe and reading the csv file from the path.
df.head(10)     # The head function retrieves 5 rows by default and we can specific the number as parameter, hence 10 was the parameter.

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
5,6,Ashley Howe,29,Female,HR,2591,2016-06-24,1.0,6,Active,Chicago,Evening
6,7,David Olson,39,Female,Sales,6826,2023-05-11,NaN,4,Active,New York,Night
7,8,Amanda Baker,52,Other,HR,6285,2015-04-01,NaN,8,Inactive,Chicago,Evening
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
9,10,Brian Faulkner,30,Male,IT,8202,2018-05-26,1.0,9,Active,Los Angeles,Morning

## Q2. What are the column names and their respective data types in the dataset?

In [206]:
df.dtypes  # Outputs the column names and their respective data types

ID                     int64
Name                  object
Age                    int64
Gender                object
Department            object
Salary                 int64
Joining Date          object
Performance Score    float64
Experience             int64
Status                object
Location              object
Session               object
dtype: object

## Q3. How many rows and columns are there in the dataset?

In [207]:
df.shape  # This retrieves the shape of the dataset, No of cloumns and rows -- Here we have 1000 rows and 12 columns.

(1000, 12)

## Q4. Select the Name, Age, and Salary columns using df[].

In [208]:
cols=['Name','Age','Salary']  # We are using variable cols to assing the column names.
df[cols].head()    # Now we are using the variable in our dataframe. Used Head() to get only the top 5 rows instaed of getting all rows.

                 Name  Age  Salary
0        Cory Escobar   48    5641
1     Timothy Sanchez   25    4249
2        Chad Nichols   57    3058
3  Christine Williams   58    5895
4        Amber Harris   35    4317

#### OR the other method.

In [209]:
df[['Name','Age','Salary']].head() # here we have directly passed the column names in the Datframe.

                 Name  Age  Salary
0        Cory Escobar   48    5641
1     Timothy Sanchez   25    4249
2        Chad Nichols   57    3058
3  Christine Williams   58    5895
4        Amber Harris   35    4317

## Q5. Select the first 5 rows of the DataFrame using the iloc method.
 iloc is integer based indexing, so we select data based on the positiion of rows and columns regardless of their labels starting  from 0.

 df.iloc[rows, columns]
 ex:df.iloc[0:5,0:5] -- This gives the first 5 rows and first 5 columns in the dataframe.
 The above can be written as df.ilo[:5,:5].
 df.iloc[,:5] selects only the first 5 columns
 df.iloc[[0, 2, 5], [1, 3]] selects rows with index 0, 2, and 5, and columns with index 1 and 3.

In [210]:
df.iloc[:5] # iloc is integer based indexing, so we select data based on the positiion of rows and columns regardless of their labels starting  from 0.

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening

## Q6. Select all rows where the Department is "Sales" using the loc method.
loc() is used for name based indexing which uses the actual column names in contrast to iloc() which uses integers.

In [211]:
df.loc[df['Department']=='Sales'].head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
6,7,David Olson,39,Female,Sales,6826,2023-05-11,NaN,4,Active,New York,Night
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
10,11,Nicole Bell,42,Female,Sales,5336,2015-01-28,3.0,7,Active,Los Angeles,Evening

## Q7. Select rows where the Salary is greater than 8000 and Status is "Active".

In [212]:
df.loc[(df['Salary'] > 8000) & (df['Status'] == "Active")]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
9,10,Brian Faulkner,30,Male,IT,8202,2018-05-26,1.0,9,Active,Los Angeles,Morning
24,25,Tracy Carlson,21,Male,HR,9275,2022-04-09,4.0,12,Active,New York,Morning
38,39,Jordan Scott,33,Other,Sales,8678,2016-05-15,5.0,9,Active,Los Angeles,Evening
39,40,Lisa Wagner,36,Male,HR,8870,2024-08-12,4.0,17,Active,Los Angeles,Evening
60,61,Andrew Shannon,51,Other,Sales,8544,2020-02-08,NaN,6,Active,New York,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...
976,977,Kimberly Ross,19,Male,Sales,9331,2018-07-03,5.0,12,Active,New York,Morning
982,983,Stephen Ponce,46,Other,Sales,8696,2022-10-14,4.0,1,Active,New York,Evening
986,987,Melissa Bradley,39,Female,IT,9618,2015-07-05,1.0,13,Active,New York,Morning
988,989,Hannah Hickman,36,Female,IT,9118,2022-07-02,5.0,5,Active,New York,Night
989,990,Shannon Meyer,18,Other,HR,9985,2022-11-05,4.0,18,Active,Chicago,Night

## Q8. Extract the rows where the employee has been with the company for more than 5 years and has a Performance Score of at least 4.

In [213]:
df.loc[(df['Experience']>5) &(df['Performance Score']>=4)]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
11,12,Rodney Richardson,60,Other,HR,6908,2015-03-14,4.0,19,Active,Chicago,Night
17,18,Jacqueline Randall,31,Female,HR,3519,2018-05-18,4.0,6,Active,New York,Morning
18,19,Nancy Stephens,38,Male,HR,9061,2017-07-16,5.0,16,Inactive,Chicago,Night
24,25,Tracy Carlson,21,Male,HR,9275,2022-04-09,4.0,12,Active,New York,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...
978,979,Michael Lee,18,Female,IT,6086,2019-05-30,4.0,7,Inactive,Los Angeles,Evening
989,990,Shannon Meyer,18,Other,HR,9985,2022-11-05,4.0,18,Active,Chicago,Night
990,991,Amy Johnston,53,Female,HR,3991,2024-09-03,4.0,8,Active,Chicago,Morning
993,994,Brandon Bruce,31,Female,HR,3371,2018-09-25,5.0,12,Inactive,Chicago,Night
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Inactive,Los Angeles,Evening

## Q9. Select every alternate row from the DataFrame using slicing with iloc.

In [214]:
df.iloc[::2]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening
6,7,David Olson,39,Female,Sales,6826,2023-05-11,NaN,4,Active,New York,Night
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Amy Johnston,53,Female,HR,3991,2024-09-03,4.0,8,Active,Chicago,Morning
992,993,Ashley Daniels,25,Other,Sales,5524,2022-11-24,NaN,8,Inactive,New York,Morning
994,995,Rachel Phillips,22,Male,IT,3096,2018-10-27,2.0,7,Inactive,Chicago,Evening
996,997,Todd Johnson,29,Female,Sales,6754,2018-07-20,NaN,12,Inactive,New York,Morning
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Inactive,Los Angeles,Evening

## Q10.Retrieve rows where the employee belongs to "Sales" and has a Salary in the top 10% of all salaries
Here we have used the loc() and the .quantile() to achieve the output.
loc() fro accessing the rows with Sales and quantile() to get the Percentileof the values.

In [215]:
df.loc[(df['Department']=='Sales') & (df['Salary'] >= df['Salary'].quantile(0.9))]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
8,9,Jeremy Wright,63,Female,Sales,9862,2024-02-07,NaN,3,Inactive,New York,Night
22,23,Bryce Carter,35,Female,Sales,9598,2015-12-16,4.0,4,Inactive,New York,Night
29,30,Rachel Ramsey,22,Male,Sales,9661,2016-08-18,2.0,17,Inactive,Chicago,Night
215,216,Sara Jones,50,Female,Sales,9377,2019-10-16,NaN,3,Active,Los Angeles,Morning
228,229,Christie Warren,51,Female,Sales,9139,2020-08-16,5.0,1,Active,Chicago,Night
239,240,Christina Gutierrez,37,Male,Sales,9356,2018-01-02,3.0,3,Active,Chicago,Morning
250,251,Joshua Bullock,38,Male,Sales,9924,2019-01-10,4.0,20,Inactive,Chicago,Night
263,264,Gabriela Wilson,40,Other,Sales,9455,2023-11-19,1.0,14,Active,Los Angeles,Morning
275,276,Harry Alexander,22,Male,Sales,9749,2019-05-15,NaN,5,Active,Los Angeles,Morning
299,300,Terry Smith,38,Female,Sales,9375,2022-12-23,NaN,2,Inactive,New York,Morning
379,380,Dustin Le,29,Male,Sales,9726,2015-04-13,1.0,2,Inactive,Chicago,Evening
381,382,David Marshall,43,Other,Sales,9269,2018-10-05,2.0,13,Inactive,Los Angeles,Evening
405,406,Heather Scott,57,Male,Sales,9505,2024-08-18,3.0,6,Inactive,New York,Night
442,443,Kimberly Sparks,26,Other,Sales,9146,2024-07-29,3.0,3,Inactive,New York,Evening
491,492,Dr. Jacob Castaneda DVM,53,Other,Sales,9181,2024-02-17,5.0,1,Inactive,Los Angeles,Morning
516,517,Christina Lowe,35,Female,Sales,9630,2018-07-03,NaN,1,Active,Los Angeles,Night
552,553,Amanda Griffith,26,Male,Sales,9704,2019-05-30,NaN,9,Active,New York,Evening
591,592,Jonathan Rangel,49,Other,Sales,9323,2021-01-19,NaN,18,Inactive,Chicago,Evening
594,595,Michelle Smith,35,Other,Sales,9906,2018-12-18,NaN,9,Active,Los Angeles,Evening
629,630,Patricia Scott,52,Other,Sales,9364,2019-11-05,NaN,5,Active,New York,Evening
742,743,Timothy Guzman,41,Female,Sales,9409,2023-09-17,NaN,16,Inactive,New York,Morning
756,757,James James,38,Male,Sales,9666,2016-04-14,NaN,15,Active,Los Angeles,Morning
758,759,Matthew Roberts,53,Male,Sales,9917,2017-07-07,1.0,16,Active,Los Angeles,Evening
778,779,David Nelson,39,Other,Sales,9653,2021-08-08,NaN,19,Inactive,New York,Morning
796,797,Jacob Shannon,35,Other,Sales,9926,2016-09-04,NaN,7,Active,Chicago,Night
844,845,Gerald Cooke,33,Other,Sales,9693,2017-08-29,NaN,17,Inactive,New York,Morning
898,899,Tiffany Jordan,44,Male,Sales,9819,2022-07-15,NaN,13,Active,New York,Morning
903,904,Leslie Mason,42,Other,Sales,9658,2019-10-31,1.0,14,Inactive,New York,Evening
932,933,Kristin Cole,50,Male,Sales,9616,2017-02-03,2.0,13,Inactive,Los Angeles,Night
937,938,Gary Mitchell,52,Female,Sales,9963,2016-09-22,5.0,20,Inactive,Los Angeles,Morning
976,977,Kimberly Ross,19,Male,Sales,9331,2018-07-03,5.0,12,Active,New York,Morning

## Q11.Replace all "Inactive" values in the Status column with "Retired".
Use .replace(to_replace='value to be removed', value='Value to keep or replace it with')
inplace = True -- This changes the df permanently else, the df will take into consideration the cell with the code if we do not use inplace=True.

In [216]:
df['Status'].replace(to_replace = 'Inactive',value = "Retired",inplace=True)

/tmp/ipython-input-2939151896.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Status'].replace(to_replace = 'Inactive',value = "Retired",inplace=True)

In [217]:
df['Status']

0       Active
1      Retired
2      Retired
3      Retired
4      Retired
        ...
995     Active
996    Retired
997     Active
998    Retired
999     Active
Name: Status, Length: 1000, dtype: object

## Q12.Add a new column Bonus where values are 10% of the Salary column.

In [218]:
df['Bonus']=df['Salary']*0.1

In [219]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,564.1
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Retired,Los Angeles,Evening,424.9
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Retired,New York,Morning,305.8
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Retired,Los Angeles,Evening,589.5
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Retired,New York,Evening,431.7

## Q13.Update the Performance Score of employees in the "IT" department to 5 if it is NaN.

In [220]:
df.loc[(df['Department']=='IT') & (df['Performance Score'].isna()),'Performance Score'] == 5

12     False
13     False
28     False
41     False
43     False
       ...
950    False
971    False
973    False
975    False
987    False
Name: Performance Score, Length: 174, dtype: bool

In [221]:
df[(df['Department']=='IT')]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Retired,Los Angeles,Evening,589.5
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Retired,New York,Evening,431.7
9,10,Brian Faulkner,30,Male,IT,8202,2018-05-26,1.0,9,Active,Los Angeles,Morning,820.2
12,13,Joshua Robinson,61,Male,IT,5688,2020-06-21,NaN,4,Retired,Chicago,Night,568.8
13,14,Benjamin Callahan,34,Male,IT,5593,2019-06-23,NaN,2,Retired,Los Angeles,Night,559.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,988,Danielle Brown,31,Female,IT,5605,2024-06-28,NaN,1,Active,Chicago,Morning,560.5
988,989,Hannah Hickman,36,Female,IT,9118,2022-07-02,5.0,5,Active,New York,Night,911.8
994,995,Rachel Phillips,22,Male,IT,3096,2018-10-27,2.0,7,Retired,Chicago,Evening,309.6
998,999,Ashley Taylor,51,Female,IT,5437,2022-02-18,4.0,9,Retired,Los Angeles,Evening,543.7
999,1000,Shawn Scott,45,Male,IT,7364,2022-07-31,2.0,4,Active,New York,Morning,736.4

## Q14.Modify the Experience of employees with less than 2 years to 2.

In [222]:
df['Experience'].replace(to_replace=1,value=2).inplace=True

In [223]:
df[(df['Experience'] ==1)].count() # Checking the values with 1 year as experience

ID                   58
Name                 58
Age                  58
Gender               58
Department           58
Salary               58
Joining Date         58
Performance Score    28
Experience           58
Status               58
Location             58
Session              58
Bonus                58
dtype: int64

## Q15.Normalize the Salary column so that all values are between 0 and 1

### Here I have used AI to get the response fro the method to use.
I have used the Min Max method - which goes like:
### Normalized_Salary = (Salary -min_salary)/(max_salary - min_salary)

In [224]:
min_salary=df['Salary'].min()
max_salary=df['Salary'].max()
df['Normalized Salary']=(df['Salary']-min_salary)/(max_salary-min_salary)
df['Normalized Salary']

0      0.454500
1      0.280020
2      0.130735
3      0.486337
4      0.288543
         ...
995    0.706568
996    0.594009
997    0.409000
998    0.428930
999    0.670469
Name: Normalized Salary, Length: 1000, dtype: float64

In [225]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Normalized Salary
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,564.1,0.454500
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Retired,Los Angeles,Evening,424.9,0.280020
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Retired,New York,Morning,305.8,0.130735
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Retired,Los Angeles,Evening,589.5,0.486337
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Retired,New York,Evening,431.7,0.288543

## Q16.Replace all Location values with "Remote" for employees with a Performance Score below 3.

In [226]:
df.loc[(df['Performance Score']<3),'Location']='Remote'

In [227]:
df[(df['Performance Score']<3)]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Normalized Salary
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,Remote,Night,564.1,0.454500
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Retired,Remote,Evening,424.9,0.280020
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Retired,Remote,Evening,589.5,0.486337
5,6,Ashley Howe,29,Female,HR,2591,2016-06-24,1.0,6,Active,Remote,Evening,259.1,0.072199
9,10,Brian Faulkner,30,Male,IT,8202,2018-05-26,1.0,9,Active,Remote,Morning,820.2,0.775508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,980,Crystal Espinoza,55,Female,IT,4952,2023-09-04,2.0,5,Active,Remote,Night,495.2,0.368137
985,986,Regina Ferguson,62,Other,HR,8555,2017-04-21,1.0,14,Retired,Remote,Morning,855.5,0.819754
986,987,Melissa Bradley,39,Female,IT,9618,2015-07-05,1.0,13,Active,Remote,Morning,961.8,0.952996
994,995,Rachel Phillips,22,Male,IT,3096,2018-10-27,2.0,7,Retired,Remote,Evening,309.6,0.135498
999,1000,Shawn Scott,45,Male,IT,7364,2022-07-31,2.0,4,Active,Remote,Morning,736.4,0.670469

## Q17.Create a new column Experience Level with values "Junior", "Mid", or "Senior" based on the Experience

In [228]:
df['Experience level']='Unknown'

df.loc[(df['Experience']<5),'Experience level']='Junior'
df.loc[(df['Experience']>=5) & (df['Experience']<15),'Experience level']='Mid'
df.loc[(df['Experience']>=15),'Experience level']='Senior'
df.head()

# Here we have used the basic logic to convert the seniority
                # OR
# We can also use the Lambda Function to get the output

#df['Experience level']=df['Experience'].apply(lambda x: 'Junior' if x<5 else ('Mid' if x<15 else 'Senior'))

                # OR
# We can use the numpy to do the same as:

# Import numpy as np
# conitions=[

    # (df['Experience']<5),
    # (df['Experience']>=5) & (df['Experience']<15),
    # (df['Experience']>=15)
# ]
# choice =['Junior','Mid','Senior']
# df['Experience Level']=np.select(conditions,choice,default='Unknown')
# df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Normalized Salary,Experience level
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,Remote,Night,564.1,0.454500,Senior
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Retired,Remote,Evening,424.9,0.280020,Mid
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Retired,New York,Morning,305.8,0.130735,Junior
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Retired,Remote,Evening,589.5,0.486337,Mid
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Retired,New York,Evening,431.7,0.288543,Senior

## Q18.Add a new row with specific values using the append() method

The append() is not available from version 2.0.0 , then I have used the concat() which achieved the same result as it would have been with the append().
I have searched using Co-pilot to get an idea fro the solution , where i got to kknow about the append() not available.

In [229]:
# Create a new row as a DataFrame
new_row = pd.DataFrame({
    'ID': [1001],
    'Name': ['John Doe'],
    'Age': [30],
    'Gender': ['Male'],
    'Department': ['IT'],
    'Salary': [0.3489],
    'Joining Date': ['2024-01-01'],
    'Performance Score': [4.0],
    'Experience': [7],
    'Status': ['Active'],
    'Location': ['New York'],
    'Session': ['Morning'],
    'Bonus': [700.0],
    'Experience level': ['Mid']
})

# Append the new row to the DataFrame using pd.concat()
# Use ignore_index=True to reindex the DataFrame
df = pd.concat([df, new_row], ignore_index=True)

# Display the last few rows to see the appended row
display(df.tail())

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Bonus,Normalized Salary,Experience level
996,997,Todd Johnson,29,Female,Sales,6754.0000,2018-07-20,NaN,12,Retired,New York,Morning,675.4,0.594009,Mid
997,998,Michael Sanchez,18,Male,Sales,5278.0000,2023-07-05,5.0,3,Active,New York,Morning,527.8,0.409000,Junior
998,999,Ashley Taylor,51,Female,IT,5437.0000,2022-02-18,4.0,9,Retired,Los Angeles,Evening,543.7,0.428930,Mid
999,1000,Shawn Scott,45,Male,IT,7364.0000,2022-07-31,2.0,4,Active,Remote,Morning,736.4,0.670469,Junior
1000,1001,John Doe,30,Male,IT,0.3489,2024-01-01,4.0,7,Active,New York,Morning,700.0,NaN,Mid

## Q19.Delete the column Session from the DataFrame.

In [230]:
df.drop('Session', axis=1, inplace=True)
display(df.head())

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.0,16,Active,Remote,564.1,0.454500,Senior
1,2,Timothy Sanchez,25,Other,Sales,4249.0,2020-11-09,2.0,11,Retired,Remote,424.9,0.280020,Mid
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,NaN,1,Retired,New York,305.8,0.130735,Junior
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.0,13,Retired,Remote,589.5,0.486337,Mid
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.0,16,Retired,New York,431.7,0.288543,Senior

## Q20.Delete rows where the Age is greater than 60

In [231]:
cols_to_drop=df['Age']>60
df.drop(df[cols_to_drop].index,inplace=True)
df.tail()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level
996,997,Todd Johnson,29,Female,Sales,6754.0000,2018-07-20,NaN,12,Retired,New York,675.4,0.594009,Mid
997,998,Michael Sanchez,18,Male,Sales,5278.0000,2023-07-05,5.0,3,Active,New York,527.8,0.409000,Junior
998,999,Ashley Taylor,51,Female,IT,5437.0000,2022-02-18,4.0,9,Retired,Los Angeles,543.7,0.428930,Mid
999,1000,Shawn Scott,45,Male,IT,7364.0000,2022-07-31,2.0,4,Active,Remote,736.4,0.670469,Junior
1000,1001,John Doe,30,Male,IT,0.3489,2024-01-01,4.0,7,Active,New York,700.0,NaN,Mid

In [232]:
df[(df['Age']>60)] # No values, hence rows deleted.

Empty DataFrame
Columns: [ID, Name, Age, Gender, Department, Salary, Joining Date, Performance Score, Experience, Status, Location, Bonus, Normalized Salary, Experience level]
Index: []

## Q21.Add a new column Age Group with values "Young", "Middle-aged", or "Senior" based on Age

In [233]:
import numpy as np

conditions=[
    (df['Age']<30),
    (df['Age']>30) & (df['Age']<60),
    (df['Age']>=60)
]
choices=['Young','Middle-aged','Senior']

df['Age Group']=np.select(conditions,choices,default='unknown')
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.0,16,Active,Remote,564.1,0.454500,Senior,Middle-aged
1,2,Timothy Sanchez,25,Other,Sales,4249.0,2020-11-09,2.0,11,Retired,Remote,424.9,0.280020,Mid,Young
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,NaN,1,Retired,New York,305.8,0.130735,Junior,Middle-aged
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.0,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.0,16,Retired,New York,431.7,0.288543,Senior,Middle-aged

## Q22.Identify all columns with missing values using the isna() method

In [234]:
NaN_values=df.isna().sum()
cols=NaN_values[NaN_values>0]
cols

Performance Score    444
Normalized Salary      1
dtype: int64

## Q23. Fill the missing values in Performance Score with the average score of that column

In [235]:
df['Performance Score'] = df['Performance Score'].fillna(df['Performance Score'].mean())
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged
1,2,Timothy Sanchez,25,Other,Sales,4249.0,2020-11-09,2.000000,11,Retired,Remote,424.9,0.280020,Mid,Young
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,2.913333,1,Retired,New York,305.8,0.130735,Junior,Middle-aged
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.000000,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.000000,16,Retired,New York,431.7,0.288543,Senior,Middle-aged

## Q24.Drop all rows with missing values using the dropna() method.

In [236]:
df.shape

(894, 15)

In [237]:
df.isna().sum()

ID                   0
Name                 0
Age                  0
Gender               0
Department           0
Salary               0
Joining Date         0
Performance Score    0
Experience           0
Status               0
Location             0
Bonus                0
Normalized Salary    1
Experience level     0
Age Group            0
dtype: int64

In [238]:
df.dropna(inplace=True)

In [239]:
df.shape

(893, 15)

## Q26.Identify rows where the employee is in the "IT" department and their Age is above the average Age of "IT" employees

In [240]:
df['age']=df['Age'].astype(int)

In [241]:
df.dtypes

ID                     int64
Name                  object
Age                    int64
Gender                object
Department            object
Salary               float64
Joining Date          object
Performance Score    float64
Experience             int64
Status                object
Location              object
Bonus                float64
Normalized Salary    float64
Experience level      object
Age Group             object
age                    int64
dtype: object

In [242]:
df['Age'].mean()

np.float64(38.097424412094064)

In [243]:
df[(df['Department']=='IT') & (df['Age']>df['Age'].mean())]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.000000,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged,58
33,34,Mr. Brian Nelson,42,Female,IT,5207.0,2017-08-17,1.000000,4,Active,Remote,520.7,0.400100,Junior,Middle-aged,42
34,35,Lisa Fry,51,Female,IT,9259.0,2017-09-26,4.000000,17,Retired,Los Angeles,925.9,0.907997,Senior,Middle-aged,51
41,42,Charles Mccall,58,Other,IT,9512.0,2024-11-10,2.913333,8,Retired,Los Angeles,951.2,0.939709,Mid,Middle-aged,58
47,48,Jake Johnson,48,Other,IT,5848.0,2017-02-03,3.000000,2,Active,Los Angeles,584.8,0.480446,Junior,Middle-aged,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,980,Crystal Espinoza,55,Female,IT,4952.0,2023-09-04,2.000000,5,Active,Remote,495.2,0.368137,Mid,Middle-aged,55
984,985,Jeffrey Hall,41,Other,IT,8768.0,2018-08-27,3.000000,16,Retired,Los Angeles,876.8,0.846453,Senior,Middle-aged,41
986,987,Melissa Bradley,39,Female,IT,9618.0,2015-07-05,1.000000,13,Active,Remote,961.8,0.952996,Mid,Middle-aged,39
998,999,Ashley Taylor,51,Female,IT,5437.0,2022-02-18,4.000000,9,Retired,Los Angeles,543.7,0.428930,Mid,Middle-aged,51
999,1000,Shawn Scott,45,Male,IT,7364.0,2022-07-31,2.000000,4,Active,Remote,736.4,0.670469,Junior,Middle-aged,45

## Q27.Identify rows with duplicate Name and Joining Date combinations, and remove duplicates

In [244]:
# Identify duplicate rows based on 'Name' and 'Joining Date'
duplicate_rows = df[df.duplicated(subset=['Name', 'Joining Date'], keep=False)]
print("Duplicate rows based on Name and Joining Date:")
display(duplicate_rows)

Duplicate rows based on Name and Joining Date:

Empty DataFrame
Columns: [ID, Name, Age, Gender, Department, Salary, Joining Date, Performance Score, Experience, Status, Location, Bonus, Normalized Salary, Experience level, Age Group, age]
Index: []

In [245]:
# Remove duplicate rows based on 'Name' and 'Joining Date', keeping the first occurrence
df = df.drop_duplicates(subset=['Name', 'Joining Date'], keep='first')

print("\nDataFrame after removing duplicates:")
display(df.head())

DataFrame after removing duplicates:

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,48
1,2,Timothy Sanchez,25,Other,Sales,4249.0,2020-11-09,2.000000,11,Retired,Remote,424.9,0.280020,Mid,Young,25
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,2.913333,1,Retired,New York,305.8,0.130735,Junior,Middle-aged,57
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.000000,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged,58
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.000000,16,Retired,New York,431.7,0.288543,Senior,Middle-aged,35

In [246]:
df.shape

(893, 16)

## Q28.Remove rows where the Experience value is inconsistent with the Age (e.g., Experience > Age - 18).

In [247]:
df[df['Experience'] > df['Age'] - 18].count() # We have 233 inconsistent values

ID                   233
Name                 233
Age                  233
Gender               233
Department           233
Salary               233
Joining Date         233
Performance Score    233
Experience           233
Status               233
Location             233
Bonus                233
Normalized Salary    233
Experience level     233
Age Group            233
age                  233
dtype: int64

In [248]:
df.shape

(893, 16)

In [249]:
df.drop(df[df['Experience'] > df['Age'] - 18].index,inplace=True)

In [250]:
df.shape  # 893-233=660

(660, 16)

## Q29. Sort the DataFrame by Salary in descending order.

In [251]:
df.sort_values(by='Salary',ascending =False)

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age
811,812,Jesse Miller,52,Male,HR,9993.0,2020-11-27,2.913333,12,Active,Chicago,999.3,1.000000,Mid,Middle-aged,52
531,532,Jeffrey Williamson,54,Other,IT,9988.0,2015-12-08,2.913333,16,Retired,Chicago,998.8,0.999373,Senior,Middle-aged,54
937,938,Gary Mitchell,52,Female,Sales,9963.0,2016-09-22,5.000000,20,Retired,Los Angeles,996.3,0.996240,Senior,Middle-aged,52
908,909,Sara Martinez,34,Other,HR,9951.0,2024-02-18,2.913333,6,Retired,New York,995.1,0.994736,Mid,Middle-aged,34
120,121,David Hampton,39,Female,HR,9941.0,2024-07-06,3.000000,15,Retired,New York,994.1,0.993482,Senior,Middle-aged,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,427,Patricia Scott,52,Male,HR,2041.0,2022-11-22,1.000000,8,Retired,Remote,204.1,0.003259,Mid,Middle-aged,52
882,883,Jaclyn Collins,47,Male,IT,2029.0,2019-12-05,2.913333,17,Active,Los Angeles,202.9,0.001755,Senior,Middle-aged,47
76,77,Victor Nelson,47,Female,Sales,2025.0,2015-05-14,1.000000,5,Active,Remote,202.5,0.001253,Mid,Middle-aged,47
473,474,David Potter,56,Male,IT,2016.0,2020-07-13,2.913333,18,Active,New York,201.6,0.000125,Senior,Middle-aged,56
906,907,Christina Carlson,42,Female,Sales,2015.0,2020-05-08,1.000000,14,Retired,Remote,201.5,0.000000,Mid,Middle-aged,42

## Q30. Sort the DataFrame by Department and then by Joining Date in ascending order

In [252]:
df.sort_values(['Department','Joining Date'])

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age
514,515,Taylor Williamson,48,Male,HR,9293.0,2015-03-10,2.913333,17,Retired,Chicago,929.3,0.912259,Senior,Middle-aged,48
11,12,Rodney Richardson,60,Other,HR,6908.0,2015-03-14,4.000000,19,Active,Chicago,690.8,0.613312,Senior,Senior,60
7,8,Amanda Baker,52,Other,HR,6285.0,2015-04-01,2.913333,8,Retired,Chicago,628.5,0.535222,Mid,Middle-aged,52
677,678,Michelle Durham,35,Male,HR,5900.0,2015-04-25,2.913333,12,Active,Chicago,590.0,0.486964,Mid,Middle-aged,35
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,406,Heather Scott,57,Male,Sales,9505.0,2024-08-18,3.000000,6,Retired,New York,950.5,0.938832,Mid,Middle-aged,57
864,865,Jessica Garcia,47,Male,Sales,8619.0,2024-08-23,2.000000,13,Active,Remote,861.9,0.827776,Mid,Middle-aged,47
819,820,Amber Ward,54,Female,Sales,7880.0,2024-09-19,3.000000,6,Active,New York,788.0,0.735147,Mid,Middle-aged,54
141,142,Matthew Gutierrez,38,Other,Sales,5883.0,2024-10-22,4.000000,14,Retired,Chicago,588.3,0.484833,Mid,Middle-aged,38
169,170,George Bowers,24,Other,Sales,6041.0,2024-12-07,2.000000,4,Active,Remote,604.1,0.504638,Junior,Young,24

## Q31.Rank all employees by Salary within their Department and add the rank as a new column.

In [253]:
df['Rank by Sal']=df.groupby('Department')['Salary'].rank(ascending = False)

In [254]:
df.sort_values(by='Rank by Sal')

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
937,938,Gary Mitchell,52,Female,Sales,9963.0,2016-09-22,5.000000,20,Retired,Los Angeles,996.3,0.996240,Senior,Middle-aged,52,1.0
531,532,Jeffrey Williamson,54,Other,IT,9988.0,2015-12-08,2.913333,16,Retired,Chicago,998.8,0.999373,Senior,Middle-aged,54,1.0
811,812,Jesse Miller,52,Male,HR,9993.0,2020-11-27,2.913333,12,Active,Chicago,999.3,1.000000,Mid,Middle-aged,52,1.0
908,909,Sara Martinez,34,Other,HR,9951.0,2024-02-18,2.913333,6,Retired,New York,995.1,0.994736,Mid,Middle-aged,34,2.0
796,797,Jacob Shannon,35,Other,Sales,9926.0,2016-09-04,2.913333,7,Active,Chicago,992.6,0.991602,Mid,Middle-aged,35,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,976,Bryce Anderson,52,Female,IT,2093.0,2020-09-22,2.913333,14,Active,New York,209.3,0.009777,Mid,Middle-aged,52,225.0
906,907,Christina Carlson,42,Female,Sales,2015.0,2020-05-08,1.000000,14,Retired,Remote,201.5,0.000000,Mid,Middle-aged,42,225.0
569,570,Paul Smith,35,Other,IT,2042.0,2016-12-22,2.913333,4,Active,New York,204.2,0.003384,Junior,Middle-aged,35,226.0
882,883,Jaclyn Collins,47,Male,IT,2029.0,2019-12-05,2.913333,17,Active,Los Angeles,202.9,0.001755,Senior,Middle-aged,47,227.0
473,474,David Potter,56,Male,IT,2016.0,2020-07-13,2.913333,18,Active,New York,201.6,0.000125,Senior,Middle-aged,56,228.0

## Q32. Sort the dataset by Experience in descending order, but break ties using Performance Score in ascending order

In [255]:
df_sorted=df.sort_values(by=['Experience','Performance Score'],ascending= [False,True])
df_sorted.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
355,356,Laura Castillo,41,Male,IT,2392.0,2024-03-15,1.0,20,Retired,Remote,239.2,0.047255,Senior,Middle-aged,41,212.0
402,403,Briana Martin,59,Male,Sales,4496.0,2023-05-22,1.0,20,Retired,Remote,449.6,0.310980,Senior,Middle-aged,59,148.0
538,539,Brandon Church,38,Male,HR,8388.0,2021-08-02,1.0,20,Retired,Remote,838.8,0.798822,Senior,Middle-aged,38,34.0
828,829,Michael Snyder,55,Other,Sales,7497.0,2024-02-03,1.0,20,Retired,Remote,749.7,0.687140,Senior,Middle-aged,55,74.0
529,530,Katie Vega,40,Female,HR,7002.0,2019-08-06,2.0,20,Active,Remote,700.2,0.625094,Senior,Middle-aged,40,77.0

## Q33.Create a new DataFrame containing only employees in "HR" with a Salary above 5000.

In [256]:
df_hr=df[df['Department']=="HR"]

In [257]:
df_hr.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,48,114.0
5,6,Ashley Howe,29,Female,HR,2591.0,2016-06-24,1.000000,6,Active,Remote,259.1,0.072199,Mid,Young,29,195.0
7,8,Amanda Baker,52,Other,HR,6285.0,2015-04-01,2.913333,8,Retired,Chicago,628.5,0.535222,Mid,Middle-aged,52,103.0
11,12,Rodney Richardson,60,Other,HR,6908.0,2015-03-14,4.000000,19,Active,Chicago,690.8,0.613312,Senior,Senior,60,81.0
16,17,Jonathan Perez,59,Male,HR,6586.0,2019-02-19,3.000000,7,Retired,Los Angeles,658.6,0.572951,Mid,Middle-aged,59,93.0

## Q34. Filter out all rows where the Location is "Chicago"

In [258]:
df.loc[df['Location']=='Chicago']

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
7,8,Amanda Baker,52,Other,HR,6285.0,2015-04-01,2.913333,8,Retired,Chicago,628.5,0.535222,Mid,Middle-aged,52,103.0
11,12,Rodney Richardson,60,Other,HR,6908.0,2015-03-14,4.000000,19,Active,Chicago,690.8,0.613312,Senior,Senior,60,81.0
18,19,Nancy Stephens,38,Male,HR,9061.0,2017-07-16,5.000000,16,Retired,Chicago,906.1,0.883179,Senior,Middle-aged,38,20.0
20,21,Heather Jones,35,Male,Sales,4565.0,2018-02-07,2.913333,9,Active,Chicago,456.5,0.319629,Mid,Middle-aged,35,145.0
55,56,Jonathon Adams,40,Female,IT,8745.0,2020-07-29,2.913333,12,Retired,Chicago,874.5,0.843570,Mid,Middle-aged,40,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,981,Jeffrey Johnson,28,Male,HR,2244.0,2021-07-06,4.000000,2,Retired,Chicago,224.4,0.028704,Junior,Young,28,202.0
983,984,David Moody,43,Male,HR,8830.0,2021-09-10,2.913333,19,Retired,Chicago,883.0,0.854224,Senior,Middle-aged,43,25.0
987,988,Danielle Brown,31,Female,IT,5605.0,2024-06-28,2.913333,1,Active,Chicago,560.5,0.449987,Junior,Middle-aged,31,117.0
990,991,Amy Johnston,53,Female,HR,3991.0,2024-09-03,4.000000,8,Active,Chicago,399.1,0.247681,Mid,Middle-aged,53,153.0
993,994,Brandon Bruce,31,Female,HR,3371.0,2018-09-25,5.000000,12,Retired,Chicago,337.1,0.169967,Mid,Middle-aged,31,170.0

In [259]:
df_sorted = df.sort_values(by=['Experience', 'Performance Score'], ascending=[False, True])
display(df_sorted.head())

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
355,356,Laura Castillo,41,Male,IT,2392.0,2024-03-15,1.0,20,Retired,Remote,239.2,0.047255,Senior,Middle-aged,41,212.0
402,403,Briana Martin,59,Male,Sales,4496.0,2023-05-22,1.0,20,Retired,Remote,449.6,0.310980,Senior,Middle-aged,59,148.0
538,539,Brandon Church,38,Male,HR,8388.0,2021-08-02,1.0,20,Retired,Remote,838.8,0.798822,Senior,Middle-aged,38,34.0
828,829,Michael Snyder,55,Other,Sales,7497.0,2024-02-03,1.0,20,Retired,Remote,749.7,0.687140,Senior,Middle-aged,55,74.0
529,530,Katie Vega,40,Female,HR,7002.0,2019-08-06,2.0,20,Active,Remote,700.2,0.625094,Senior,Middle-aged,40,77.0

## Q35.Delete all rows where the Performance Score is below 2

In [260]:
row_drop = df['Performance Score'] < 2
rows_to_drop = df[row_drop].index
df = df.drop(rows_to_drop, axis=0)
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,48,114.0
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,2.913333,1,Retired,New York,305.8,0.130735,Junior,Middle-aged,57,192.0
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.000000,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged,58,109.0
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.000000,16,Retired,New York,431.7,0.288543,Senior,Middle-aged,35,159.0
6,7,David Olson,39,Female,Sales,6826.0,2023-05-11,2.913333,4,Active,New York,682.6,0.603033,Junior,Middle-aged,39,91.0

In [261]:
df.shape

(585, 17)

## Q36. Find the average Salary for each Department.

In [262]:
df.groupby('Department')['Salary'].mean()

Department
HR       5955.850000
IT       5903.088670
Sales    5856.188119
Name: Salary, dtype: float64

In [263]:
df[df['Department']=='IT']['Salary']

3      5895.0
4      4317.0
13     5593.0
34     9259.0
41     9512.0
        ...
984    8768.0
987    5605.0
988    9118.0
998    5437.0
999    7364.0
Name: Salary, Length: 203, dtype: float64

In [264]:
df.tail()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal
990,991,Amy Johnston,53,Female,HR,3991.0,2024-09-03,4.0,8,Active,Chicago,399.1,0.247681,Mid,Middle-aged,53,153.0
993,994,Brandon Bruce,31,Female,HR,3371.0,2018-09-25,5.0,12,Retired,Chicago,337.1,0.169967,Mid,Middle-aged,31,170.0
995,996,Pamela Reeves,49,Female,Sales,7652.0,2024-06-23,4.0,3,Active,Los Angeles,765.2,0.706568,Junior,Middle-aged,49,66.0
998,999,Ashley Taylor,51,Female,IT,5437.0,2022-02-18,4.0,9,Retired,Los Angeles,543.7,0.428930,Mid,Middle-aged,51,126.0
999,1000,Shawn Scott,45,Male,IT,7364.0,2022-07-31,2.0,4,Active,Remote,736.4,0.670469,Junior,Middle-aged,45,78.0

## Q37.Calculate the total Salary of all employees grouped by Status.

In [265]:
df.groupby('Department')['Salary'].sum()

Department
HR       1072053.0
IT       1198327.0
Sales    1182950.0
Name: Salary, dtype: float64

## Q38. Find the maximum Performance Score for employees in each Location.

In [266]:
df[df['Location']=='London']['Performance Score'].max()

nan

## Q39.Calculate the total Salary paid to employees who joined in each year.

In [267]:
df['Joining Year']=pd.to_datetime(df['Joining Date']).dt.year
total_salary=df.groupby('Joining Year')['Salary'].sum()
total_salary.head()

Joining Year
2014     15135.0
2015    275743.0
2016    379291.0
2017    313615.0
2018    392152.0
Name: Salary, dtype: float64

## Q40. Find the department with the highest average Performance Score.

In [268]:
avg_score=df.groupby('Department')['Performance Score'].mean()
avg_score.head(1)

Department
HR    3.165852
Name: Performance Score, dtype: float64

## Q41.Count the number of employees in each Location grouped by their Session.

In [269]:
df.groupby(['Location','Session'])['ID'].count()

KeyError: 'Session'

## Q42.Group employees by Status and calculate the sum, mean, and standard deviation of their Salary.

In [270]:
salary_by_status=df.groupby(['Status'])['Salary'].agg(['mean','sum','std'])
salary_by_status

                mean        sum          std
Status
Active   5873.611684  1709221.0  2318.058399
Retired  5932.343537  1744109.0  2360.018978

## Q43.Use the apply() method to create a new column Monthly Salary by dividing the Salary by 12.

In [271]:
df['Monthly Salary']=df['Salary'].apply(lambda x:x/12)
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal,Joining Year,Monthly Salary
0,1,Cory Escobar,48,Female,HR,5641.0,2015-05-03,2.000000,16,Active,Remote,564.1,0.454500,Senior,Middle-aged,48,114.0,2015,470.083333
2,3,Chad Nichols,57,Other,Sales,3058.0,2019-02-12,2.913333,1,Retired,New York,305.8,0.130735,Junior,Middle-aged,57,192.0,2019,254.833333
3,4,Christine Williams,58,Female,IT,5895.0,2017-09-08,2.000000,13,Retired,Remote,589.5,0.486337,Mid,Middle-aged,58,109.0,2017,491.250000
4,5,Amber Harris,35,Other,IT,4317.0,2020-02-15,5.000000,16,Retired,New York,431.7,0.288543,Senior,Middle-aged,35,159.0,2020,359.750000
6,7,David Olson,39,Female,Sales,6826.0,2023-05-11,2.913333,4,Active,New York,682.6,0.603033,Junior,Middle-aged,39,91.0,2023,568.833333

## Q44.Use the applymap() method to convert all string values in the DataFrame to uppercase.

In [273]:
df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

/tmp/ipython-input-2608408817.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Bonus,Normalized Salary,Experience level,Age Group,age,Rank by Sal,Joining Year,Monthly Salary
0,1,CORY ESCOBAR,48,FEMALE,HR,5641.0,2015-05-03,2.000000,16,ACTIVE,REMOTE,564.1,0.454500,SENIOR,MIDDLE-AGED,48,114.0,2015,470.083333
2,3,CHAD NICHOLS,57,OTHER,SALES,3058.0,2019-02-12,2.913333,1,RETIRED,NEW YORK,305.8,0.130735,JUNIOR,MIDDLE-AGED,57,192.0,2019,254.833333
3,4,CHRISTINE WILLIAMS,58,FEMALE,IT,5895.0,2017-09-08,2.000000,13,RETIRED,REMOTE,589.5,0.486337,MID,MIDDLE-AGED,58,109.0,2017,491.250000
4,5,AMBER HARRIS,35,OTHER,IT,4317.0,2020-02-15,5.000000,16,RETIRED,NEW YORK,431.7,0.288543,SENIOR,MIDDLE-AGED,35,159.0,2020,359.750000
6,7,DAVID OLSON,39,FEMALE,SALES,6826.0,2023-05-11,2.913333,4,ACTIVE,NEW YORK,682.6,0.603033,JUNIOR,MIDDLE-AGED,39,91.0,2023,568.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,AMY JOHNSTON,53,FEMALE,HR,3991.0,2024-09-03,4.000000,8,ACTIVE,CHICAGO,399.1,0.247681,MID,MIDDLE-AGED,53,153.0,2024,332.583333
993,994,BRANDON BRUCE,31,FEMALE,HR,3371.0,2018-09-25,5.000000,12,RETIRED,CHICAGO,337.1,0.169967,MID,MIDDLE-AGED,31,170.0,2018,280.916667
995,996,PAMELA REEVES,49,FEMALE,SALES,7652.0,2024-06-23,4.000000,3,ACTIVE,LOS ANGELES,765.2,0.706568,JUNIOR,MIDDLE-AGED,49,66.0,2024,637.666667
998,999,ASHLEY TAYLOR,51,FEMALE,IT,5437.0,2022-02-18,4.000000,9,RETIRED,LOS ANGELES,543.7,0.428930,MID,MIDDLE-AGED,51,126.0,2022,453.083333
999,1000,SHAWN SCOTT,45,MALE,IT,7364.0,2022-07-31,2.000000,4,ACTIVE,REMOTE,736.4,0.670469,JUNIOR,MIDDLE-AGED,45,78.0,2022,613.666667

## 46. Create a second dataset with Department and Budget. Perform an inner join with the original dataset

In [274]:
dept_budget = pd.DataFrame({
    'Department': ['HR', 'Engineering', 'Marketing'],
    'Budget': [200000, 500000, 300000]
})

df = pd.merge(df, dept_budget, on='Department', how='inner')

## 47. Merge the dataset with another dataset that includes employee ID and their recent Projects

In [276]:
recent_projects = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Recent Project': ['Recruitment Drive', 'AI Development', 'Ad Campaign', 'System Upgrade']
})

df = pd.merge(df, recent_projects, on='ID', how='left')

## 48. Perform a left join with a dataset containing Department and Team Lead details

In [277]:
team_leads = pd.DataFrame({
    'Department': ['HR', 'IT', 'Sales'],
    'Team Lead': ['Eve', 'Frank', 'Grace']
})

df = pd.merge(df, team_leads, on='Department', how='left')

## 49. Create a DataFrame with employee ID and Project Count, then merge it and calculate average Salary per project

In [278]:
project_count = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Project Count': [2, 4, 3, 2]
})

df = pd.merge(df, project_count, on='ID', how='left')
df['Avg Salary per Project'] = df['Salary'] / df['Project Count']

## 50. Calculate the percentage increase in Salary compared to the average Salary in their Department

In [279]:
avg_salary_by_dept = df.groupby('Department')['Salary'].transform('mean')
df['% Increase vs Dept Avg'] = ((df['Salary'] - avg_salary_by_dept) / avg_salary_by_dept) * 100